#main-container{
    width: 100%;
    background-color: rgb(142, 185, 255, 0.1);
}
.container{
    padding: 8px;
    width: 100%;
    text-align: left;
}
.search-field{
    width: 50%;
    display: inline-block;
    margin-right: 16px;
}
.search-radio{
    display: inline-block;
    margin: 0px 4px 4px 4px;
    cursor: pointer;
}
.params{
    width: calc(20% - 4px);
    margin-right: 4px;
    display: inline-block;
}