#main-container{
    width: 100%;
    background-color: rgb(142, 185, 255, 0.1);
}
.container{
    padding: 8px;
    width: 100%;
    text-align: left;
}
.search-field{
    width: calc(100% - 84.61px);
    display: inline-block;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
#search-btn{
    margin-left: 8px;
    display: inline-block;
    vertical-align: top;
}
.search-radio{
    display: inline-block;
    margin: 0px 4px 4px 4px;
    cursor: pointer;
}
.params{
    width: calc(20% - 4px);
    margin-right: 4px;
    display: inline-block;
}