<div id="main-container">
    <div class="container" style="padding-bottom: 0px;">
        <input type="text" class="search-field form-control" 
            placeholder="Enter Coupon ID or Coupon code">
        <input type="radio" name="search-type" class="search-radio" value="id">
        <label class="search-radio">ID</label>
        <input type="radio" name="search-type" class="search-radio" value="code">
        <label class="search-radio">Code</label>
        <button style="margin-left: 8px;" class="btn btn-primary">Search</button>
    </div>
    <div class="container">
        <input type="text" class="params form-control" placeholder="Valid From">
        <input type="text" class="params form-control" placeholder="Valid To">
        <input type="text" class="params form-control" placeholder="Discount">
        <input type="text" class="params form-control" placeholder="Min. Cart Value">
        <input type="text" class="params form-control" placeholder="Max. Discount">
    </div>
    <div class="container">
        <app-table-scroll-container
        [headerText]="header"
        [columnHeaders]="columns"
        ></app-table-scroll-container>
    </div>
</div>