<div id="main-container">
    <form [formGroup]="searchForm" (ngSubmit)="searchForCoupons()">
        <div class="container" style="padding-bottom: 0px;">
            <input formControlName="code" type="text" class="search-field form-control" 
                placeholder="Enter Coupon code">
            <button id="search-btn" class="btn btn-primary">Search</button>
        </div>
        <div class="container">
            <input formControlName="validFrom" type="text" class="params form-control" placeholder="Valid From">
            <input formControlName="validTill" type="text" class="params form-control" placeholder="Valid Till">
            <input formControlName="discount" type="text" class="params form-control" placeholder="Discount">
            <input formControlName="minCartValue" type="text" class="params form-control" placeholder="Min. Cart Value">
            <input formControlName="maxDiscount" type="text" class="params form-control" placeholder="Max. Discount">
        </div>
    </form>
    <div *ngIf="queryFired && (matchingResults.length == 0)">No Matching results found</div>
    <div *ngIf="queryFired && (matchingResults.length != 0)" class="container">
        <app-table-scroll-container
        [headerText]="header"
        [columnHeaders]="columns"
        [tableData]="data"
        [baseLink]="link"
        ></app-table-scroll-container>
    </div>
</div>