<div id="main-container">
    <div class="details-container">
        <p class="heading-text-left">Order Details</p>
        <p class="heading-text-right">Order Timeline</p>
        <div class="seperator"></div>
        <div class="details-left-block">
            <table style="width: 100% ;">
                <tr>
                    <td class="left-cell-1">Order ID</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3">QWD-78542</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Order Status</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3">Pending</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Refund Status</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3">N/A</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Payment Mode</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3">Credit Card</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Payment Status</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3">Complete</td>
                </tr>
            </table>
        </div>
        <div class="details-right-block">
            <table style="width: 100% ;">
                <tr>
                    <td class="right-cell-1">Placed On</td>
                    <td class="right-cell-2">:</td>
                    <td class="right-cell-3">12-04-2020</td>
                </tr>
                <tr>
                    <td class="right-cell-1">Shipped On</td>
                    <td class="right-cell-2">:</td>
                    <td class="right-cell-3">N/A</td>
                </tr>
                <tr>
                    <td class="right-cell-1">Delivered On</td>
                    <td class="right-cell-2">:</td>
                    <td class="right-cell-3">N/A</td>
                </tr>
                <tr>
                    <td class="right-cell-1">Cancelled On</td>
                    <td class="right-cell-2">:</td>
                    <td class="right-cell-3">N/A</td>
                </tr>
                <tr>
                    <td class="right-cell-1">Refunded On</td>
                    <td class="right-cell-2">:</td>
                    <td class="right-cell-3">N/A</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="details-container">
        <p class="heading-text-left">Invoice</p>
        <p class="heading-text-left">Customer Details</p>
        <div class="seperator"></div>
        <div class="details-left-block">
            <table style="width: 100% ;">
                <tr>
                    <td class="left-cell-1">MRP</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3"><i class="fas fa-rupee-sign"></i> 4999</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Shipping Charges</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3"><i class="fas fa-rupee-sign"></i> 0</td>
                </tr>
                <tr>
                    <td class="left-cell-1">GST</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3"><i class="fas fa-rupee-sign"></i> 200</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Discount</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3"><i class="fas fa-rupee-sign"></i> 1000</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Coupoun Discount</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3"><i class="fas fa-rupee-sign"></i> 100</td>
                </tr>
                <tr style="font-size:  18px; font-weight: 600;">
                    <td class="left-cell-1">Total</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3"><i class="fas fa-rupee-sign"></i> 4099</td>
                </tr>
            </table>
        </div>
        <div class="details-right-block" style="vertical-align: top;">
            <table style="width: 100%;">
                <tr>
                    <td class="right-cell-1">Customer ID</td>
                    <td class="right-cell-2">:</td>
                    <td class="right-cell-3">78549633544125</td>
                </tr>
                <tr>
                    <td class="left-cell-1">Shipping Address</td>
                    <td class="left-cell-2">:</td>
                    <td class="left-cell-3">Akhilesh Lingala</td>
                </tr>
                <tr>
                    <td class="left-cell-1"></td>
                    <td class="left-cell-2"></td>
                    <td class="left-cell-3">12/Z, Sector - 10 Ukkunagaram</td>
                </tr>
                <tr>
                    <td class="left-cell-1"></td>
                    <td class="left-cell-2"></td>
                    <td class="left-cell-3">Visakhapatnam</td>
                </tr>
                <tr>
                    <td class="left-cell-1"></td>
                    <td class="left-cell-2"></td>
                    <td class="left-cell-3">Andhra Pradesh - 530036</td>
                </tr>
                <tr>
                    <td class="left-cell-1"></td>
                    <td class="left-cell-2"></td>
                    <td class="left-cell-3">91XXXXXXXX</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="font-size: 14px;" class="details-container">
        <p class="heading-text">Items In Order</p>
        <div style="margin-bottom: 8px;" class="seperator"></div>
        <app-order-item></app-order-item>
        <app-order-item></app-order-item>
        <app-order-item></app-order-item>
        <app-order-item></app-order-item>
        <app-order-item></app-order-item>
    </div>
    <div style="font-size: 14px;" class="details-container">
        <button class="btn btn-primary">Edit Details</button>
    </div>
</div>