<div id="main-container">
    <p class="header-text">Coupon Details</p>
    <div class="details-container">
        <table class="form-container">
            <tr class="table-row">
                <td class="cell-1">Coupon Code</td>
                <td class="cell-2">:</td>
                <td class="cell-3">MHHSAOAD879</td>
            </tr>
            <tr class="table-row">
                <td class="cell-1">Discount(%)</td>
                <td class="cell-2">:</td>
                <td class="cell-3">20%</td>
            </tr>
            <tr class="table-row">
                <td class="cell-1">Max Discount(Rs.)</td>
                <td class="cell-2">:</td>
                <td class="cell-3">1000</td>
            </tr>
            <tr class="table-row">
                <td class="cell-1">Minimum Cart Value</td>
                <td class="cell-2">:</td>
                <td class="cell-3">2000</td>
            </tr>
            <tr class="table-row">
                <td class="cell-1">Valid From</td>
                <td class="cell-2">:</td>
                <td class="cell-3">20-03-2020</td>
            </tr>
            <tr class="table-row">
                <td class="cell-1">Valid Till</td>
                <td class="cell-2">:</td>
                <td class="cell-3">20-04-2020</td>
            </tr>
            <tr class="table-row">
                <td class="cell-1">Description</td>
                <td class="cell-2">:</td>
                <td class="cell-3">This is a test coupon</td>
            </tr>
        </table>
        <button type="button" class="form-btn btn btn-primary">Edit</button>
    </div>
</div>