<div id="main-container">
    <p id="header">Brand Details</p>
    <div id="details-container">
      <table style="width: 100%;">
        <tr>
          <td class="side-headings cell-1">Brand Name</td>
          <td class="side-headings cell-2"> : &nbsp;</td>
          <td class="cell-3">{{ brand.name }}</td>
        </tr>
        <tr>
          <td class="side-headings">Status</td>
          <td class="side-headings"> : &nbsp;</td>
          <td>{{ brand.status }}</td>
        </tr>
      </table>
      <div id="seperator"></div>
      <p class="main-side-heading">Image</p>
      <div id="seperator"></div>
      <div id="images-container">
        <img [src]="brand.image" alt="Image Not Available">
      </div>
      <button (click)="onEditDetails()" type="button" class="btn btn-primary">Edit Details</button>
    </div>
  </div>