<div id="pending-orders-container">
    <app-table-scroll-container
      [headerText]="'Pending Orders (112)'"
      [columnHeaders]="['Order No', 'Order Value', 'Placed On', 'Payment Mode', 'Payment Status']"
    ></app-table-scroll-container>
  </div>
  <div id="pending-orders-container">
    <app-table-scroll-container
      [headerText]="'Products Out of Stock (120)'"
      [columnHeaders]="['Product ID', 'Order Value', 'Placed On', 'Payment Mode', 'Payment Status']"
    ></app-table-scroll-container>
  </div>