<div id="main-container">
    <div id="search-field-container">
        <input type="text" class="search-field form-control" 
          name="search-text" placeholder="Enter Order ID or Product ID">
        <a><i class="icon fas fa-search"></i></a>
        <input class="radio" type="radio" name="search-option" value="id" checked>
          <label>Order ID</label>
        <input class="radio" type="radio" name="search-option" value="id">
          <label>Product ID</label>
      <div class="filters-container" style="padding-bottom: 0px;">
        <input placeholder="Pincode" class="filter-input-field form-control" type="text">
        <input placeholder="Payment Mode" class="filter-input-field form-control" type="text">
        <input placeholder="Payment Status" class="filter-input-field form-control" type="text">
        <input placeholder="Order Status" class="filter-input-field form-control" type="text">
        <input placeholder="Refund Status" class="filter-input-field form-control" type="text">
      </div>
      <div class="filters-container" style="padding-bottom: 0px;">
        <input placeholder="Placement Date" class="filter-input-field form-control" type="text">
        <input placeholder="Shipping Date" class="filter-input-field form-control" type="text">
        <input placeholder="Delivery Date" class="filter-input-field form-control" type="text">
        <input placeholder="Refund Date" class="filter-input-field form-control" type="text">
        <input placeholder="Cancelled Date" class="filter-input-field form-control" type="text">
      </div>
    </div>
    <div id="search-results-container">
      <app-table-scroll-container
        [headerText]="header"
        [columnHeaders]="columns"
      ></app-table-scroll-container>
    </div>
  </div>