<div id="main-container">
  <div id="dashboard">
    <div id="live-counters-section">
      <div style="background-color: #2b7cff;" class="live-counter">
        <div class="name">
          <i class="icon fas fa-users"></i>
          <p style="height: 40%;" class="text">Active users</p>
        </div>
        <div class="count">
          <p class="text count-text">5072</p>
        </div>
      </div>
      <div style="background-color: #ffd42a;" class="live-counter">
          <div class="name">
            <i class="icon fas fa-users"></i>
            <p style="height: 40%;" class="text">Guest users</p>
          </div>
          <div class="count">
            <p class="text count-text">448</p>
          </div>
      </div>
      <div style="background-color: #CD853F;" class="live-counter">
          <div class="name">
              <i class="icon fas fa-box"></i>
            <p style="height: 40%;" class="text">Today's Orders</p>
          </div>
          <div class="count">
            <p class="text count-text">70</p>
          </div>
      </div>
      <div style="background-color: #61B329;" class="live-counter">
          <div class="name">
              <i class="icon fas fa-rupee-sign"></i>
            <p style="height: 40%;" class="text">Today's Revenue</p>
          </div>
          <div class="count">
            <p class="text count-text">230K</p>
          </div>
      </div>
    </div>
    <div id="pending-orders-container">
      <app-table-scroll-container></app-table-scroll-container>
    </div>
    <div id="pending-orders-container">
      <app-table-scroll-container></app-table-scroll-container>
    </div>
  </div>
</div>