#main-container{
    width: 100%;
    height: 512px;
    /* background-color: grey; */
}
#search-field-container{
    position: relative;
    padding: 8px;
    width: 100%;
    text-align: justify;
}
.search-field{
    width: 85%;
    display: inline-block;
    padding-right: 48px;
}
.icon{
    position: absolute;
    top: 16px;
    left: 764px;
    font-size: 16px;
}
.radio{
    height: 1.2em;
    width: 1.2em;
    margin: 0px;
    margin-left: 16px;
    display: inline-block;
    cursor: pointer;
}
label{
    font-size: 14px;
    margin: 0px;
    padding: 4px 4px;
    display: inline-block;
    vertical-align: top;
}