
<div id="main-container">
    <form (ngSubmit)="changePassword(f)" #f="ngForm">
        <p id="header">Change Password</p>
        <div id="details-container">
            <p *ngIf="errorOccured"  class="error-block">{{ errorMessage }}</p>
          <table style="width: 100%;">
            <tr>
                <td class="side-headings">Old Password</td>
                <td class="side-headings"> : &nbsp;</td>
                <td><input ngModel #oldPassword="ngModel"
                        type="password" name="oldPassword" class="form-control" required></td>
            </tr>
            <tr *ngIf="!oldPassword.valid && oldPassword.touched">
                <td class="side-headings"></td>
                <td class="side-headings"></td>
                <td class="error-msg-row"><p class="error-msg-text">Please enter your old password</p></td>
            </tr>
            <tr>
                <td class="side-headings">Password</td>
                <td class="side-headings"> : &nbsp;</td>
                <td><input ngModel #newPassword="ngModel"
                        type="password" name="newPassword" class="form-control" required></td>
            </tr>
            <tr *ngIf="!newPassword.valid && newPassword.touched">
                <td class="side-headings"></td>
                <td class="side-headings"></td>
                <td class="error-msg-row"><p class="error-msg-text">Please enter your new password</p></td>
            </tr>
            <tr>
                <td class="side-headings">Confirm Password</td>
                <td class="side-headings"> : &nbsp;</td>
                <td><input ngModel #confirmNewPassword="ngModel"
                        type="password" name="confirmNewPassword" class="form-control" required></td>
            </tr>
            <tr *ngIf="!confirmNewPassword.valid && confirmNewPassword.touched">
                <td class="side-headings"></td>
                <td class="side-headings"></td>
                <td class="error-msg-row"><p class="error-msg-text">Please confirm your new password</p></td>
            </tr>
          </table>
          <div id="seperator"></div>
          <button [disabled]="!f.valid" type="submit" style="margin-top: 8px" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</div>