#main-container{
    width: inherit;
    display: inline-block;
    position: relative;
    text-align: center;
}
#button{
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    background: #8eb9ff;

    display: block;
}
#dropdown-menu{
    position: absolute;
    top: 40px;
    width: 100%;
    max-height: 0px;
    transition: 0.5s all;
    overflow-x: hidden;
    overflow-y: scroll;
}
.expand{
    max-height: 128px !important;
}
.menu-item{
    display: block;
    padding: 8px;
    font-size: 14px;
    background: white;
}
a:hover{
    background: #8eb9ff;
}