<div id="main-container">
  <p id="header">Product Details</p>
  <div id="details-container">
    <table style="width: 100%;">
      <tr>
        <td class="side-headings">Product Name</td>
        <td class="side-headings"> : &nbsp;</td>
        <td>Tommy Hilfiger White regular solid casual shirt</td>
      </tr>
      <tr>
        <td class="side-headings">Product ID</td>
        <td class="side-headings"> : &nbsp;</td>
        <td>29785666</td>
      </tr>
      <tr>
        <td class="side-headings">Brand</td>
        <td class="side-headings"> : &nbsp;</td>
        <td>Tommy Hifiger</td>
      </tr>
      <tr>
        <td class="side-headings">Category</td>
        <td class="side-headings"> : &nbsp;</td>
        <td>Clothing</td>
      </tr>
      <tr>
        <td class="side-headings">Sub Category</td>
        <td class="side-headings"> : &nbsp;</td>
        <td >T-Shirts</td>
      </tr>
      <tr>
        <td class="side-headings">Status</td>
        <td class="side-headings"> : &nbsp;</td>
        <td>Active</td>
      </tr>
    </table>
    <div id="seperator"></div>
    <p class="main-side-heading">Images</p>
    <div id="seperator"></div>
    <div id="images-container">
      <img *ngFor="let _ of [1,2,3,4,5]" 
        src="https://assets.jassets.com/h_600,q_95,w_440/v1/assets/images/productImage/2018/7/6/cd37416d-5556-4024-9d7f-bb5ebde43a6a1530825330030-1.webp" alt="">
    </div>
    <div id="seperator"></div>
    <p class="main-side-heading">Available Sizes</p>
    <div id="seperator"></div>
    <table style="width: 100%;">
      <tr>
        <th>Size Name</th>
        <th>Available Quantity</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>S</td>
        <td>10</td>
        <td>Rs. 4999</td>
        <td>20%</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>M</td>
        <td>10</td>
        <td>Rs. 4999</td>
        <td>20%</td>
        <td>Active</td>
      </tr>
      <tr>
        <td>L</td>
        <td>10</td>
        <td>Rs. 4999</td>
        <td>20%</td>
        <td>Active</td>
      </tr>
    </table>
    <button type="button" class="btn btn-primary">Edit Details</button>
  </div>
</div>