<div id="main-container">
  <div id="table-header">
    <p id="header-text">{{ headerText }}</p>
    <div id="seperator"></div>
    <div id="table-column-headers">
      <p [ngStyle]="{ 'width': columnWidth }" 
        class="column-header-text"
        *ngFor="let header of columnHeaders"
        >
        {{ header }}
      </p>
    </div>
  </div>
  <div id="table-content">
    <a (click)="openLink(row)" *ngFor="let row of tableData">
      <div class="order-row">
        <p style="white-space: pre-line" [ngStyle]="{ 'width': columnWidth }"
          *ngFor="let column of row.rowData"
          class="column-text">{{ column }}</p>
      </div>
    </a>
    
  </div>
</div>