<div id="main-container">

<!-- Add Image Popup Section -->
  <app-popup *ngIf="!isPopupClosed">
    <i style="cursor: pointer;" (click)="onPopupClose()"class="fa fa-times" id="close-button"></i>
    <div id="popup-box">
      <div id="preview-box" *ngIf="showPreview">
        <p class="box-heading">Image Preview :</p>
        <img id="preview-image" [src]="imgUrl" alt="&nbsp; &nbsp;Image Not Available">
      </div>
      <p class="box-heading">Image URL :</p>
      <input [(ngModel)]="imgUrl" name="imgUrl" style="display: inline-block;" type="text" class="form-control">
      <div style="text-align: left;">
        <button (click)="onAddImage()" class="btn btn-success popup-btns">Add</button>
        <button (click)="openImagePreview()" class="btn btn-primary popup-btns">Preview</button>
      </div>
    </div>
  </app-popup>

<!-- Reactive New Product Form Section -->
  <form [formGroup]="product" (ngSubmit)="onAddProduct()">
    <p id="header">Product Details</p>
    <div id="details-container">
      <!-- Main Form Contents Section -->
      <table style="width: 100%;">
        <tr *ngIf="editMode">
          <td class="side-headings">Product ID</td>
          <td class="side-headings"> : &nbsp;</td>
          <td><input readonly="true" formControlName = "id" type="text" class="form-control"></td>
        </tr>
        <tr>
          <td class="side-headings">Product Name</td>
          <td class="side-headings"> : &nbsp;</td>
          <td><input [ngClass]="{ 'error-field' : product.get('name').touched && ! product.get('name').valid }" 
            formControlName = "name" type="text" class="form-control"></td>
        </tr>
        <tr *ngIf="product.get('name').touched && ! product.get('name').valid">
          <td class="error-msg-row"></td>
          <td class="error-msg-row">&nbsp;</td>
          <td class="error-msg-row">
            <p class="error-msg">Please enter product 'Name'</p>
          </td>
        </tr>
        <tr>
          <td class="side-headings">Brand</td>
          <td class="side-headings"> : &nbsp;</td>
          <td><app-dropdown 
            (onItemSelected)="brandSelected($event)" 
            (dropdownOpened)="brandOpened()"
            class="dropdown" dropdownHeader="Brand"></app-dropdown></td>
        </tr>
        <tr *ngIf="isBrandOpened && ! product.get('brand').valid">
          <td class="error-msg-row"></td>
          <td class="error-msg-row">&nbsp;</td>
          <td class="error-msg-row">
            <p class="error-msg">Please select 'Brand' for product</p>
          </td>
        </tr>
        <tr>
          <td class="side-headings">Gender Group</td>
          <td class="side-headings"> : &nbsp;</td>
          <td><app-dropdown 
            (onItemSelected)="genderGroupSelected($event)" 
            (dropdownOpened)="genderGroupOpened()"
            class="dropdown" dropdownHeader="Gender Group"></app-dropdown></td>
        </tr>
        <tr *ngIf="isGenderGroupOpened && ! product.get('genderGroup').valid">
          <td class="error-msg-row"></td>
          <td class="error-msg-row">&nbsp;</td>
          <td class="error-msg-row">
            <p class="error-msg">Please select 'Gender Group' for product</p>
          </td>
        </tr>
        <tr>
          <td class="side-headings">Category</td>
          <td class="side-headings"> : &nbsp;</td>
          <td><app-dropdown 
            (onItemSelected)="categorySelected($event)" 
            (dropdownOpened)="categoryOpened()"
            class="dropdown" dropdownHeader="Category"></app-dropdown></td>
        </tr>
        <tr *ngIf="isCategoryOpened && ! product.get('category').valid">
          <td class="error-msg-row"></td>
          <td class="error-msg-row">&nbsp;</td>
          <td class="error-msg-row">
            <p class="error-msg">Please select 'Category' for product</p>
          </td>
        </tr>
        <tr>
          <td class="side-headings">Sub Category</td>
          <td class="side-headings"> : &nbsp;</td>
          <td><app-dropdown 
            (onItemSelected)="subCategorySelected($event)"
            (dropdownOpened)="subCategoryOpened()"
            class="dropdown" dropdownHeader="Sub Category"></app-dropdown></td>
        </tr>
        <tr *ngIf="isSubCategoryOpened && ! product.get('subCategory').valid">
          <td class="error-msg-row"></td>
          <td class="error-msg-row">&nbsp;</td>
          <td class="error-msg-row">
            <p class="error-msg">Please select 'Sub Category' for product</p>
          </td>
        </tr>
        <tr>
          <td class="side-headings">Status</td>
          <td class="side-headings"> : &nbsp;</td>
          <td><div style="text-align: justify;">
            <input formControlName = "status" type="radio" name="status" class="radio"
            value="Active" checked>
            <label class="radio-text">Active</label>
            <input formControlName = "status" type="radio" name="status" class="radio"
            value="Inactive">
            <label class="radio-text">Inactive</label>
          </div></td>
        </tr>
      </table>

      <!-- Images Section -->
      <div id="seperator"></div>
      <p class="main-side-heading">Images</p>
      <div id="seperator"></div>
      <div id="images-container">
        <div class="image" *ngFor="let image of getImageControls().controls; let i = index">
          <img [src]="image.value" alt="Image Not Available">
          <a (click)="onRemoveImage(i)" class="image-remove">Remove</a>
        </div>
        <div (click)="onOpenPopup()" class="image" id="new-image">
          +<br><p style="margin: 0px; font-size: 14px; font-weight: bold;">New image</p>
        </div>
      </div>

      <!-- Size List Section -->
      <div id="seperator"></div>
      <p class="main-side-heading">Available Sizes</p>
      <div id="seperator"></div>
      <div id="size-list-container" formArrayName="sizeList" style="width: 100%;">
        <div *ngFor="let header of sizeListHeaders" class="size-headers main-side-heading">{{ header }}</div>
        <div id="seperator"></div>
        <div id="input-fields-container" *ngFor="let size of getSizeControls().controls; let i = index">
          <div [formGroup]="size">
            <div *ngFor = "let control of sizeControlNames" class="size-fields">
              <input [ngClass]="{ 'error-field ' : validateSizeField(i, control)}" 
                formControlName = "{{ control }}" type="text" class="form-control"></div>
            <div class="size-fields" style="padding: 12px 0px;">
              <div class="radio-button-container">
                <input formControlName = "status" type="radio"  class="radio" value="Active" checked>
                <label class="radio-text">Active</label>
                <input formControlName = "status" type="radio"  class="radio" value="Inactive">
                <label class="radio-text">Inactive</label>
              </div>
              <button class="remove-btn" (click)="removeSizeControl(i)" type="button" class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
      <a (click)="addSizeControl()" id="add-size">+ Add new Size</a>
      <button [disabled]="!product.valid" *ngIf="!editMode" type="submit" class="btn btn-primary">Add Product</button>
      <button (click)="onSaveChanges()" style="margin-right: 8px;" *ngIf="editMode" type="button" class="btn btn-success">Save Changes</button>
      <button (click)="onDeleteProduct()" *ngIf="editMode" type="button" class="btn btn-danger">Delete Product</button>
    </div>
  </form>
</div>
