<a>
  <div id="main-container">
    <div id="image-container">
      <img src="https://bit.ly/34zJFZF" alt="">
    </div>
    <div id="product-details-container">
      <div id="details">
        <div id="heading">
          <p class="text">Tommy Hilfiger White Regular Fit Solid Casual Shirt</p>
        </div>
        <div id="price-container">
          <p id="price-line-1"><i class="fas fa-rupee-sign"></i> 7998 &nbsp;
            <s><i class="fas fa-rupee-sign"></i> 9998 </s> &nbsp;</p>
            <p id="price-line-2" class="discount-text">&nbsp;&nbsp;Saved <i class="fas fa-rupee-sign"></i> 2000</p>
        </div>
      </div>
      <div id="quantity-size-container">
        <p><b>Product ID : </b> 85547123</p>
        <!-- <p><b>Price per item : </b> <i class="fas fa-rupee-sign"></i> 4999</p>
        <p><b>Discount : </b> 20%</p> -->
        <p><b>Size : </b> M | <b>Qty : </b> 2 </p>
      </div>
    </div>
  </div>
</a>